@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --eur-bg-color: #0055cc;
  --usd-bg-color: #dc143c;

  --eur-symbol-color: #aa9a42ff;
  --usd-symbol-color: #1e3a8a;

  --bg-color: #282828;
  --fg-color: #fff;

  --bg-color-opacity: #494949;
  --fg-color-opacity: #dddddd;

  --input-bg-color: #d1d1d1;
}

:root[data-theme='dark'] {
  --bg-color: #fff;
  --fg-color: #282828;

  --bg-color-opacity: #dddddd;
  --fg-color-opacity: #494949;
}

body,
#app {
  margin: 0;
  padding: 0;
  box-sizing: 0;

  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 300ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
